body{
  background:url(img/img3.jpg)center fixed;

}
.sec-master{
  background-color: rgba(00,00,00,0.7);
}
.navbar-toggler{
  border: 0px;
}
p,h1,h2,a{
  color: White;
}
.bg-color{
  background-color: rgb(0,0,0);
}

img{
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.2);

}
mark{
  background-color: rgb(255,255,255);
  opacity: 0.8;
  border-radius: 15px;
}

.b{
  background-color: rgb(0,0,0);
  opacity: 0.97;
  border-radius: 15px;
  box-shadow: white;
}
.slab{
  background-color: rgb(255,255,255);
  opacity: 0.8;
}

footer {
  background: black;
  color: white;
}

footer h3 {
  margin-bottom: 30px;
}

footer .footer-above {
  padding-top: 50px;
  background-color: black;
}

footer .footer-col {
  margin-bottom: 50px;
}

footer .footer-below {
  padding: 25px 0;
  background-color:#2E2E2E;
}
.imgs-footer{
  width: 10%;
  height: 10%;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    padding: 0;
}
